body {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #030302,
    #050505,
    #080807,
    #0a0a0a,
    #141313,
    #1b1a1a,
    #212120,
    #2f2f2e,
    #3e3d3d,
    #4d4c4c,
    #5c5c5c
  );
  /* background-image: linear-gradient(
    to bottom,
    #000000,
    #161616,
    #252525,
    #353535,
    #454545,
    #454545,
    #454545,
    #454545,
    #353535,
    #252525,
    #161616,
    #000000
  ); */
  font-family: "CustomFont", sans-serif;
  font-size: 0.6rem;
}

header {
  background-size: cover;
  background-position: 0% 50%;
  transition: background-position 0.5s ease-in-out;
  height: 50vh;
  width: auto;
}
footer {
  background-color: none;
  color: rgba(245, 245, 220, 0.494) !important;
}
footer > section:first-child {
  border-bottom: 1px solid grey;
}

header.scrolled {
  background-position: 10% 40%;
}

.cursorPFA {
  cursor: pointer;
}
#navbar1 {
  transition: opacity 1.5s ease, visibility 0.8s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0px 4.5rem;
  padding-top: 0;
}

#navbar1.hidden {
  opacity: 0;
  visibility: hidden;
}

.navSpan {
  background-color: #2d2e2e;
  color: white;
  opacity: 0.8;
  padding: 0px 8px 8px 8px;
}
.hamburger {
  background-color: #2d2e2e;
  opacity: 0.8;
  height: 100%;
}
.iconaH {
  font-size: 30px;
}
.logoImg {
  width: 40px;
  height: 40px;
}
.scrittaImg {
  width: 60px;
  height: 60px;
}
.nav-link {
  color: white !important;
  cursor: pointer;
}
.scrittaCard {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.3s ease-in-out;
}
.gameCard {
  bottom: 40px;

  transition: transform 0.3s ease-in-out;
}
.gameCard img {
  height: auto;
}

.gameCard:hover,
.scrittaCard:hover {
  transform: scale(1.1);
}

.gameCard,
.scrittaCard {
  position: relative;
  overflow: hidden;
}

.gameCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Imposta il colore del velo e la trasparenza desiderati */
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.gameCard:hover::before,
.scrittaCard:hover::before {
  opacity: 0;
}

.sezioneCentrale {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
/* 
.sticky-sidebar {
  position: fixed;
z-index: 3;

}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.sticky-col {
  position: sticky;
  top: 0;
  z-index: 2;
} */

/* .sticky-header {
  position: relative;
  z-index: 3;
} */
/* 
.scrolled {
  background-color: #2D2E2E;
 
}

.solid {
  background-color: #fff;

  box-shadow: 0 4px 2px -2px gray;

}
.header-image {
  position: relative;
  z-index: 1;
} */

/* --------------------CSS CARD REGISTER/LOGIN------------------- */
/* .bg-section{
  background-color: rgba(255, 255, 255, 0.0);
  color: #F1E9DA;
  transition: background-color 0.3s ease;
} */
.bg-section1 {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  text-align: center;
}
.flip-container {
  /* Rappresenta l'inclinazione prospettica, in questo caso della rotazione */
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -ms-perspective: 800;
  perspective: 800;
  margin: 0 auto;
}

/* ruota il pannello al mousehover */
.flip-container.clicked .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  /* width: 421px; */
  height: fit-content;
  /* background-color: #2D2E2E;
   color: #F1E9DA; */
  border-radius: 1%;
  width: 100%;
  /* height: 100%; */
}

/* impostare velocità di transizione */
.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* nasconde il retro durante lo swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

/* front pane, placed above back, quello con lo z-index + alto, anche se sta prima nel codice, finisce sopra */
.front {
  /* z-index: 2; */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* --------------------CSS CARD REGISTER/LOGIN------------------- */
.btn-primary.btnLR {
  --bs-btn-border-color: none;
}

.btn:hover.btnLR {
  background-color: unset;
}

.card-container {
  perspective: 1000px;
  width: 300px;
  height: 500px;
}
.card-container1 {
  perspective: 1000px;
}

.cardLR {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-face,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-face1,
.card-back1 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.card-back {
  transform: rotateY(180deg);
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.card-container.clicked .cardLR {
  transform: rotateY(180deg);
}
.card-container1.clicked .cardLR {
  transform: rotateY(360deg);
}

/*---------------------------------PROFILO--------------------*/
.sezioneProfilo {
  margin: 0px 4.5rem;
}
@media (max-width: 1100px) {
  .sezioneProfilo {
    margin: 0px 1rem;
  }
  #navbar1 {
    margin: 0px 1rem;
  }
}
.cardUser {
  background-color: rgba(45, 46, 46, 0.4);
  color: white;
  opacity: 0.8;
  padding: 10px 8px 8px 8px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.cardUser1 {
  background-color: #1f1f1f;
  color: white;
  opacity: 0.7;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 1px 1px 10px 1px #434343;
}

.list-group-item {
  background-color: #2d2e2e;
  color: white;
  opacity: 0.8;
}
.trn-game-bar-title__icon {
  min-width: 0.875rem;
  max-width: 2rem;
  height: 1rem;
  fill: beige;
}

.gold {
  color: rgb(156, 135, 15);
}

.cardUserGame {
  background-color: rgba(45, 46, 46, 0.4);
  color: white;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 2px 5px 15px 1.5px #000000;
}

.logoImgStat {
  width: 20px;
  height: 20px;
}
.wCard {
  text-align: center;
}
.btnImg {
  font-size: 10px;
}
.btnEdit {
  font-size: 14px;
}

.imgImp {
  width: 90px;
}
.imgImp2 {
  width: 100%;
}
/*------------------MODAL--------------*/

.modal {
  --bs-modal-bg: rgba(45, 46, 46, 0.9);
  color: rgba(245, 245, 220, 0.494);
}

.modal .form-control {
  background-color: rgb(59, 59, 59) !important;
  border: rgba(0, 0, 0, 0.2);
  border-color: #000000;
  color: rgba(245, 245, 220, 0.494);
}
.form-control:focus {
  box-shadow: none;
}
.bgBN {
  background-color: #0000;
}
.form-control {
  background-color: rgb(59, 59, 59) !important;
  border: rgba(0, 0, 0, 0.2);
  border-color: #000000;
  color: rgba(245, 245, 220, 0.494);
}
/*------------------FortniteStat---------*/
.containerStat {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  text-align: center;
  vertical-align: middle;
}
.containerStat div {
  padding: 40px 0px;
}

.p1stat {
  margin: 0;
  font-size: 2rem;
}
.p2stat {
  margin: 0;
  font-size: 0.8rem;
  color: rgba(245, 245, 220, 0.494);
}
.p3stat {
  margin: 0;
  font-size: 0.8rem;
  color: rgba(233, 233, 224, 0.737);
}

/*--------------FortniteCardMatch---------*/
.containerStat1 {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}
.containerStat1 div {
  /* padding: 40px 0px; */
}
.containerStat1 p {
  margin: 0px;
}

.table-bg {
  --bs-table-bg: none;
  --bs-table-border-color: #1f1f1f;
  --bs-table-color: white;
  border-radius: 10px;
}

.table-bg th,
.table-bg td {
  border: 0px;
  background-color: #1f1f1f;
  border-radius: 1px;
  text-align: center;
  box-shadow: 1px 0px 1px 0px #434343;
}

/*------------------NEWS-------------------*/
.cardUser2 {
  background-color: #1f1f1f;
  color: white;
  opacity: 0.7;
  padding: 8px 8px 8px 8px;
  border-radius: 0px 0px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 1px 1px 10px 1px #434343;
}

.sezioneNews {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.gameCardN {
  bottom: 40px;

  transition: transform 0.3s ease-in-out;
}
.gameCardN img {
  height: auto;
}

.gameCardN:hover {
  transform: scale(1.1);
}

.gameCard {
  position: relative;
  overflow: hidden;
}

.gameCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Imposta il colore del velo e la trasparenza desiderati */
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.gameCard:hover::before {
  opacity: 0;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Imposta il numero di righe desiderato */
}

.sezioneNewsView {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
/* .hImgCard {
  max-height: 308px;
} */

/*------------------------LANDINGPAGE------------------------*/
.h1lp {
  font-size: 1.3rem;
  color: rgba(233, 233, 224, 0.737);
  line-height: 94%;
}

.iconArrow {
  font-size: 80px;
}

.asjbajs {
  margin-bottom: 7rem;
}

.welM {
  margin-top: 13rem;
}
.welM1 {
  margin-top: 8.5rem;
}
